.header {
  font-weight: 200;
  padding: 4% 0 4% 0;
}

.newsArticle {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}

.articleImage {
  text-align: center;
}

.stocks {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 4%;
}

.currencies {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 4%;
}

.convertedValue {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  margin: 4%;
}

.favouriteStocksHeader {
  padding: 8% 0 4% 0;
  text-align: center;
  font-weight: 100;
  font-size: 32px;
}

.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 0;
}

.companyDetails {
  display: flex;
  font-weight: 300;
  font-size: 20px;
  justify-content: space-between;
}

.currencyConverter {
  margin-top: 8%;
}

.companyLogoWrapper {
  text-align: center;
  margin: 2%;
}

.companyDescription {
  font-size: 18px;
}

.loader {
  text-align: center;
  margin: 12%;
}

.notFound {
  text-align: center;
  font-size: 32px;
  margin: 4%;
  font-weight: 100;
}

@media (max-width: 767px) {
  .companyDetails {
    display: block;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .newsArticle {
    flex-direction: column;
    gap: 20px;
  }

  .articleTitle,
  .articlePublishedDate {
    text-align: center;
  }
}